/*  Main container  */
#add-new-fanpage {
    margin: 15px 0 0 0;
}

.fanpage img {
    border-radius: 5px;
}

#fanpage_list {
    list-style: none;
}

#fanpage_list li:nth-child(3n+1) {
    clear: both;
}