/*  Main container  */
#add-new-fanpage {
    margin: 15px 0 0 0;
}

.fanpage img {
    border-radius: 5px;
}

#fanpage_list {
    list-style: none;
}

#fanpage_list li:nth-child(3n+1) {
    clear: both;
}

#fanpage_list .fanpage {
    margin: 5px 0;
}

.push-fb {
    /*text-align: center;*/
    font-size: 15px;
}
.push-fb-non {
    color: #d43f3a;
}
.push-fb-yes {
    color: #5cb85c;
}

#page-dashboard-table a {
    margin: 2px 0;
    /*min-width: 80px;*/
}

.image-area {
    border: 2px dotted #5CB85C;
    border-radius: 5px;
    padding: 10px;
    margin: 0 0 10px ;
}